@font-face {
  font-family: 'Bauhaus Bugler';
  src: url('../assets/Bauhaus Bugler W00 Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --text: black;
  --bg: #ffffff;
  --border: #3e3c42;
  --accent: black;
  --font: 'Bauhaus Bugler', system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  color: var(--text);
  background: var(--bg);
}

::placeholder {
  color: var(--accent);
  opacity: 0.5;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.login-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 40px 20px;
}

.login-container h2 {
  text-align: center;
  font-size: 68px;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.login-container .logo-tcm {
  width: 90px !important; 
  max-width: none !important;
  height: auto  !important;;
  margin-top: 120px  !important;;
  margin-bottom: 20px  !important;;
  display: block !important;;
}
.login-container h3 {
  text-align: center;
  font-size: 30px;
  color: black;
  margin-top: 0;
  margin-bottom: 104px !important;
  line-height: 1.2;
}

.login-container form {
  width:100%;
  margin-top: 10px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border: 1px solid var(--border);
  border-radius: 12px;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 28px;
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="text"] {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid var(--border);
  border-radius: 6px;
  box-sizing: border-box;
}

.login-container input:focus {
  outline: none;
  border-color: var(--accent);
}

.login-container button {
  padding: 12px;
  font-size: 16px;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.8s ease, transform 0.3s ease;
}

.login-container button:hover {
  background-color: #310d35;
}

.login-container button:hover::after {
  opacity: 0.9;
  background-color: #621A68;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 0;
}

.checkbox-register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkbox-register a {
  text-decoration: none;
  color: black;
}

.checkbox-register a:hover {
  transition: 0.3s;
  color: #621A68;
}

.checkbox-label input[type="checkbox"]:checked {
  accent-color: #621A68;
}